.root {
	margin: 60px;
	font-size: 40px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 20px;
	font-size: 20px;

	input,
	button {
		height: 40px;
		border-radius: 10px;
	}
}
/* .button {
	font-size: 40px;
} */
